$primary-color: #1ba1bf !default;
/* Color Theme Swatches in Hex */
$Blue-Grunge-Background-1-hex: #011526;
$Blue-Grunge-Background-2-hex: #023859;
$Blue-Grunge-Background-3-hex: #0f5c8c;
$Blue-Grunge-Background-4-hex: #147ca6;
$Blue-Grunge-Background-5-hex: #1ba1bf;

$social-media: (
    "facebook-square": #3b5998,
    "facebook-messenger": #0078ff,
    "github-alt": #333,
    "twitter": #55acee,
    "linkedin": #0976b4,
    "twitch": #6441a4,
);
