@import "./variables";
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/_off-canvas";
@import "node_modules/spectre.css/src/_timelines.scss";

.container {
    min-height: 100vh;
    padding: 0;
}

.main-menu {
    padding: 0.5em;
}

.siteTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 0;
    }
}

.logoContainer {
    padding: 5px;
}

.nav {
    .nav-item {
        margin-bottom: 0px;
        color: $Blue-Grunge-Background-5-hex;
        padding: 0.2rem 0.4rem;
        text-decoration: none;

        &.active {
            color: $Blue-Grunge-Background-3-hex;
            font-weight: 700;
        }
    }
}

.brand {
    display: block;
    margin: 15px 0;
}

a {
    &:active,
    &:hover,
    &:focus,
    &.active {
        box-shadow: none;
        text-decoration: none;
    }
}

.hero {
    &.hero-full {
        height: 100vh;
    }

    .hero-body {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-top: 1rem;
        }

        .profile-img {
            width: 200px;
        }

        .description {
            font-size: 1.25rem;
            font-weight: 200;
            max-width: 50%;
            text-align: center;
        }
    }
}

.off-canvas {
    .off-canvas-content {
        padding: 0;
    }

    .off-canvas-sidebar {
        max-width: 10%;
    }
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    & > a {
        flex-basis: 33%;
        text-align: center;
        margin: 0.2em 0;
        color: $gray-color;

        @each $name, $color in $social-media {
            .fa-#{$name} {
                &:hover {
                    color: lighten($color, 20%);
                }

                &:active {
                    color: $color;
                }
            }
        }
    }
}

.divider {
    border-top-color: $Blue-Grunge-Background-5-hex;
}
.divider[data-content]::after,
.divider-vert[data-content]::after {
    background: $bg-color;
    color: $Blue-Grunge-Background-2-hex;
    text-transform: uppercase;
    font-weight: 600;
}

.resume {
    text-transform: uppercase;
    font-weight: 600;
    .fas,
    .fab {
        margin-right: 5px;
    }
}

.my-tech {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding: 30px 0;

    @each $name, $color in $tech-stack {
        .fa-#{$name} {
            text-align: center;
            margin: 0.2em 0;
            color: $gray-color;

            &:hover {
                color: lighten($color, 10%);
                transition: ease-in-out color 500ms;
            }

            &:active {
                color: $color;
            }
        }
    }
}

.page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .page-title {
        margin-top: 20px;
    }

    .page-content {
        max-width: 80%;
        font-size: 1.10rem;
        p {
            text-indent: 50px;
            text-align: justify;
        }
    }
    & > .my-tech {
        width: 100%;
        padding: 15px 0;
    }
}

.tile-title {
    margin-right: 10px;
}

.latest-blog {
    margin: 0 10px;

    .link-container {
        margin-bottom: 10px;
    }

    .link-title {
        color: $Blue-Grunge-Background-2-hex;
        border-bottom-color: $Blue-Grunge-Background-2-hex;
        border-bottom-width: 0.5px;
        border-bottom-style: solid;
    }

    .link-date {
        color: $Blue-Grunge-Background-4-hex;
        font-size: 10px;
        display: block;
    }
}

.blog-hero {
    color: #ffffff;

    &::before{
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: $Blue-Grunge-Background-1-hex;
        opacity: 0.20;
    }

    .hero-body {
        z-index: 2;
        text-shadow: black 2px 2px 5px;
    }
}

.blog-post-content {
    display: flex;
    flex: 1;
    padding: 30px 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        text-indent: 30px;
    }

    ul {
        list-style-position: outside;
    }
}

.blog-main-container {
    display: flex;
    flex-direction: row;
}

.blog-post-tags-container {
    flex: 0.4;
    padding: 20px 15px;
}

.blog-post-date {
    align-self: flex-start;
}

.page-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 65%;
}

.blog-entry-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.blog-entry-feature-img {
    width: 150px;
    height: 150px;
}

.blog-entry-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px 20px;

    h3 {
        color: $Blue-Grunge-Background-3-hex;
    }

    p {
        text-align: justify;
        color: $Blue-Grunge-Background-1-hex;
    }

    small {
        color: $darkGray;
    }
}

@media (max-width: $size-md) {
    .hero {
        .hero-body {
            .description {
                max-width: 70%;
            }
        }
    }

    .page-main-container {
        max-width: 80%;
    }

    .blog-main-container {
        flex-direction: column;
    }
}

@media (max-width: $size-sm) {
    .hero {
        .hero-body {
            .profile-img {
                width: 150px;
                margin-bottom: 0;
            }
            .description {
                max-width: 80%;
            }
        }
    }

    .page-main-container {
        max-width: 90%;
    }


    .blog-entry-container {
        max-width: 100%;
        flex-direction: column;
    }

    .blog-entry-feature-img {
        width: 100%;
    }

    .blog-entry-details {
        padding: 10px 5px;
    }

}

@media (max-width: $size-xs) {
    .hero {
        &.hero-full {
            min-height: 600px;
        }
        .hero-body {
            .profile-img {
                width: 120px;
                margin-bottom: 0;
            }

            h1 {
                font-size: 1.5rem;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            .description {
                font-size: 1rem;
                max-width: 90%;
            }
        }
    }


}
