@import "./variables";
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/_off-canvas";

.container {
    min-height: 100vh;
    padding: 0;
}

.main-menu {
    padding: 0.5em;
}

.siteTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 0;
    }
}

.logoContainer {
    padding: 5px;
}

.nav {
    .nav-item {
        margin-bottom: 0px;
        color: $Blue-Grunge-Background-5-hex;
        padding: 0.2rem 0.4rem;
        text-decoration: none;

        &.active {
            color: $Blue-Grunge-Background-3-hex;
            font-weight: 700;
        }
    }
}

.brand {
    display: block;
    margin: 15px 0;
}

a {
    &:active,
    &:hover,
    &:focus,
    &.active {
        box-shadow: none;
        text-decoration: none;
    }
}

.hero {
    &.hero-full {
        height: 100vh;
    }

    .hero-body {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-top: 1rem;
        }

        .description {
            font-size: 1.25rem;
            font-weight: 200;
            max-width: 50%;
            text-align: center;
        }
    }
}

.off-canvas {
    .off-canvas-content {
        padding: 0;
    }

    .off-canvas-sidebar {
        max-width: 10%;
    }
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-around;

    & > a {
        color: $gray-color;

        @each $name, $color in $social-media {
            .fa-#{$name} {
                &:hover {
                    color: lighten($color, 20%);
                }

                &:active {
                    color: $color;
                }
            }
        }
    }
}

.divider {
    border-top-color: $Blue-Grunge-Background-5-hex;
}
.divider[data-content]::after,
.divider-vert[data-content]::after {
    background: $bg-color;
    color: $Blue-Grunge-Background-2-hex;
    text-transform: uppercase;
    font-weight: 600;
}

.resume {
    text-transform: uppercase;
    font-weight: 600;
    .fas,
    .fab {
        margin-right: 5px;
    }
}
