@import "./variables";
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/_off-canvas";

.container {
    min-height: 100vh;
    padding: 0;
}

.main-menu {
    padding: 0.5em;
}

.siteTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 0;
    }
}

.logoContainer {
    padding: 5px;
}

.nav {
    .nav-item {
        margin-bottom: 0px;
        color: #66758c;
        padding: 0.2rem 0.4rem;
        text-decoration: none;

        &.active {
            color: #505c6e;
            font-weight: 700;
        }
    }
}

.brand {
    display: block;
    margin: 15px 0;
}

a {
    &:active,
    &:hover,
    &:focus,
    &.active {
        box-shadow: none;
        text-decoration: none;
    }
}

.hero {
    &.hero-full {
        height: 100vh;
    }

    .hero-body {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-top: 1rem;
        }
    }
}

.off-canvas {
    .off-canvas-content {
        padding: 0;
    }
}
